<div class="comment_wrapper">
<%= content_tag(:div, { :id => dom_id(comment) }) do -%>
  <div class="comment">
    <div class="header">
      <p>
        <span class="bold"><%= comment.author %></span> commented <%= time_ago_in_words comment.created_at %> ago
      </p>
    </div>

    <div class="body">
      <p>
        <%= comment.body %>
      </p>
    </div>

  </div>
<% end %>
</div>
