<li>
    <%=
    item = article_galleryitem
    link_to(
        image_tag(item.galleryitem.url(:thumb), :title => item.galleryitem_caption),
        item.galleryitem.url(:large)
        )
    %>
</li>
