<div id="article_main_image">
<% if article.main_asset %>
  <%= image_tag article.main_asset.galleryitem.url(:medium) %>
<% end %>
</div>
<div id="article_content">
  <%= raw imagify RedCloth.new(body).to_html, article.assets %>
</div>
<div class="clearboth"></div>
