<% if @article.assets.size > 0 %>
  <%= javascript_include_tag 'gallery/jquery.ad-gallery' %>
  <script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>

  <%= javascript_include_tag 'gallery_boot' %>
  <div id="article_galleryitems">
    <div class="ad-gallery">
      <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls"></div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <%= render :partial => 'article_galleryitem', :collection => @article.assets %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
document.observe("dom:loaded", function() {
    jQuery('#article_galleryitems').hide();
    });
  </script>
<% end %>
