<% if @article.assets.size > 0 %>
<div id="no_such_hash" title="Image not found">
  <p>It seems like you tried to open a particular image from the gallery. Unfortunately the image you requested cannot be found. Why don't you check out the rest of the gallery, the other images might be just as good!</p>
  
<p>To browse the gallery simply close this box.</p>
</div>
  <div id="article_galleryitems">
    <div class="ad-gallery">
      <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls"></div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <%= render :partial => 'article_galleryitem', :collection => @article.assets %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
