<% if @article.assets.size > 0 %>
  <div id="article_galleryitems">
    <div class="ad-gallery">
      <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls"></div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <%= render :partial => 'article_galleryitem', :collection => @article.assets %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
