<div id="article_main_image">
<% if article.main_asset %>
  <%= image_tag article.main_asset.galleryitem.url(:medium) %>
  <p class="caption"><%= truncate(article.main_asset.galleryitem_caption, :length => 180, :omission => "...") %></p>
<% end %>
</div>
<div id="article_thumb_images">
  <%= raw imagify(body, article.column_assets) %>
</div>
<div id="article_content">
  <%= raw RedCloth.new(body).to_html %>
</div>
<div class="clearboth"></div>
