<div id="article_main_image">
<% if article.main_asset %>
  <%= image_tag article.main_asset.galleryitem.url(:medium) %>
<% end %>
</div>
<div id="article_thumb_images">
  <%= raw imagify(body, article.assets) %>
</div>
<div id="article_content">
  <%#= raw imagify RedCloth.new(body).to_html, article.assets %>
  <%= raw RedCloth.new(body).to_html %>
</div>
<div class="clearboth"></div>
