<div id="progressbar"></div>
  <p>
      Dra filene inn i boksen under for å laste opp filer
  </p>
<div id="drop_area">
</div>
<div id="degregated_upload_area">
  <p>
      Ser ut som nettleseren din ikke støtter drag+drop-uploads så du må nøye deg med vanlig opplasting
  </p>
  <!-- Fallback for ikke-html-lesere -->
  <div>
    <% f.fields_for :assets do |asset| %>
      <% if asset.object.new_record? %>
        <p><%= asset.file_field :galleryitem %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clearboth"></div>

<div id="galleryitems">
  <ul id="sortable">
    <% f.fields_for :assets do |asset| %>
      <%= render :partial => 'editable_galleryitem', :locals => { :asset => asset } %>
    <% end %>
  </ul>
</div>
