<p>
  <%= f.label :published, 'Publiser artikkel' %>
  <%= f.check_box :published %>
</p>

<div class="clearboth"></div>

<div id="progressbar"></div>

<div id="drop_area">
<p>Dra bilder inn hit for å laste opp</p>
</div>

<ul id="file_list">
Ingen nye imgs
</ul>

<!-- Fallback for ikke-html-lesere -->
<div>
  <%# f.fields_for :assets do |asset| %>
    <%# if asset.object.new_record? %>
      <p><%#= asset.file_field :galleryitem %></p>
    <%# end %>
  <%# end %>
</div>


<div id="galleryitems">
    <% f.fields_for :assets do |asset| %>
      <%= render :partial => 'editable_galleryitem', :locals => { :asset => asset } %>
    <% end %>
</div>
