<div id="new_article">
  <fieldset>
    <legend>Endre artikkel</legend>
    <% form_for @article, :html => {:multipart => true } do |f| %>
      <input type="hidden" id="article_zoom_level" value="<%= @article.country.zoom_level %>" />
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </fieldset>
</div>
