<div id="new_article">
  <fieldset>
    <legend>New article</legend>
    <%= form_for @article, :html => {:article => 'article_form', :multipart => true } do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </fieldset>
</div>
