<div id="article_preview">
<div id="article_wrapper">
  <div id="article">
    <div id="article_body">
      <%= render :partial => 'article_body', :locals => { :article => @article, :body => @data } %>
    </div>
  </div>
</div>
</div>
