<div id="article_admin_tools">
  <%= render :partial => "article_admin_tools", :locals => {article => @article} %>
</div>
<div id="article_header">
  <%= render :partial => 'article_header' %>
</div>

<div id="article_body">
  <%= render :partial => 'article_body' %>
</div>

<div id="article_images">
</div>

<div id="article_comments">
</div>
