div.galleryitem {
  border: #ccc solid 0.07em;
  padding: 8px;
  float: left;
  margin-left: 10px;
}

div.galleryitem img {
  border: black solid 0.07em;
  max-width: 200px;
  max-height: 200px;
}

div#article_content {
  margin-bottom: 20px;
}

div#article_header {
  margin-bottom: 30px;
}

div#article_header h1 {
  font-size: 1.4em;
}

div#article_header p {
  color: #A1A1A1;
  font-size: 0.9em;
}
