div#article p {
  margin: 10px;
  margin-left: 0;
}

div#article h2 {
  margin-top: 35px;
  clear: left;
}

span.article_image {
  clear: right;
  display: inline-block;
  margin: 10px 25px 10px 10px;
  float: right;
}

span.article_image img.text_image {
  max-width: 300px;
  max-height: 300px;
  border: 0.07em solid #ccc;
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px#888;
  box-shadow: 0 0 2px #888;
}

div#article_main_image {
  float: right;
  margin: 20px 0 20px 20px;
}

div#article_main_image p {
  font-style: italic;
  font-size: 0.8em;
  font-color: #aaa;
}

div#article_main_image img {
  border: #ccc solid 0.07em;
  max-width: 500px;
  max-height: 500px;
}

div#article_main_image div.floatClearer {
  height: 20px;
  border: 0.07em solid black;
  clear: left;
  float: left;
}

div#article_content p, div#article_content div.image_text {
  margin-bottom: 20px;
  width: 75%;
}

div#article_header {
  margin-bottom: 30px;
}

div#article_header h1 {
  font-size: 1.4em;
}

div#article div#article_header p {
  color: #A1A1A1;
  font-size: 0.9em;
  margin: 0 10px 10px 0;
}

div#show_article_country_map {
  margin: 10px auto;
}

div#article_details {
  width: 60%;
  margin: 30px auto;
  font-size: 0.8em;
  font-style: italic;
  color: #aaa;
}

div#left_column {
  float: left;
  width: 55%;
}
div#right_column {
  float: right;
  width: 40%;
}
