/* logo and banner content */
/* see openlayers.css for world map */
div#banner {
 background-image: url('/images/logo.png');
 background-repeat: no-repeat;
 padding: 150px 100px 0 100px;
	height: 400px;
  position: relative;
}


div#articles_countries {
 float: left;
 margin: 25px 25px;
 width: 200px;
 border: 1px solid #402C31;
 height: 200px;
  padding: 0;
}

div#articles_countries div, div#articles_countries ul {
  padding: 10px;
  clear: both;
}

div#articles_countries h1 {
  text-align: center;
  margin-bottom: 3px;
}

div#articles_countries ul {
  list-style: none;
}

