/* logo and banner content */
/* see openlayers.css for world map */
div#banner {
  padding: 235px 100px 0 100px;
	height: 380px;
  position: relative;
}


div#articles_countries {
 margin-left: 20px;
 float: right;
 width: 200px;
 background: url('/images/article_countries_bkg.png') no-repeat;
 height: 201px;
  padding: 5px;
  font-size: 14px;
}

div#articles_countries div, div#articles_countries ul {
  padding: 10px;
  clear: both;
}

div#articles_countries h1 {
  text-align: center;
  margin-left: -15px;
  margin-bottom: 3px;
}

div#articles_countries ul {
  list-style: none;
}

div#bird {
  z-index: 100;
  position: absolute;
  bottom: 200px;
  margin-left: 40px;
}

div#bird img {
  width: 290px;
}

img#logo {
  position: absolute;
  z-index: 0;
}

div.user_location {
  display: none;
}

div#tools {
  z-index: 200;
  position: absolute;
}
