/* reset default */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background-repeat: repeat;
  background-color: transparent;
  border:0pt none;
  font-size:100%;
  margin:0pt;
  outline-color:invert;
  outline-style:none;
  outline-width:0pt;
  padding:0pt;
  vertical-align:baseline;
}

div#mainwrap {
	width: 990px;
  font-size: 1.2em;
  color: #222222;
	margin: 10px auto;
	border: 0.01em solid black;
  font-family: georgia, "Bitstream Charter", verdana, sans-serif, "Lucida Grande", "Lucida Sans Unicode", lucida;
  background: #fff;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

div#content{
  margin-top: 20px;
	min-height: 600px;
  padding: 7px;
}

legend {
  display: block;
  font-size: 1.2em;
  border-bottom: 0.07em solid #ccc;
  margin-bottom: 8px;
}

div#errorExplanation, div#flash_error, div#flash_notice, div#flash_warning {
  margin: 10px auto; 
  border: 0.07em solid;
  min-height: 25px;
  width: 400px;
  padding: 7px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px#ccc;
  box-shadow: 0 0 3px #ccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div#flash_notice {
  background: #fcfaf1;
  border-color: #fcefa1;
}

div#flash_warning {
  background: #feeed6;
  border-color: #f8893f;
}

div#flash_error, div#errorExplanation {
  background: #fef8f6;
  border-color: #cd0a0a;
}

.clearboth {
  clear: both;
}

.floatLeft {
  float: left;
}

.bold {
  font-weight: bold;
}
