/* http://www.colourlovers.com/palette/1392490/Dark_Graffiti */
body {
  background-color: #fff7ed;
  background: -moz-linear-gradient(top,  #fff7ed, #fff0ed);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff7ed), to(#fff0ed));
  color: #222222;
}

div#mainwrap {
	border: 1px solid #402c31;
}

a:link a:visited, div#mainwrap p a:link, a:visited {
  color: #a21a21;
  font-style: none;
  text-decoration: none;
}

a:hover, div#mainwrap p a:hover {
  color: #ca202c;
  text-decoration: underline;
}

div.dragenter {
  background-color: #73C2FF;
  background: -moz-linear-gradient(top,  #73C2FF,  #EDF7FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#73C2FF), to(#EDF7FF));
}
