/* http://www.colourlovers.com/palette/1392490/Dark_Graffiti */
body {
  background-color: #daf2ff;
  background: -moz-linear-gradient(top,  #ecf8ff, #daf2ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#ecf8ff), to(#daf2ff));
}

div#articles_countries {
 background-color: #fcfcff;
  -moz-box-shadow: 0 0 5px #402C31;
  -webkit-box-shadow: 0 0 5px#402C31;
  box-shadow: 0 0 5px #402C31;
}

div#articles_countries div {
  background-color: #DD0858;
  background: -moz-linear-gradient(top,  #DD0858,  #ffc4da);
  background: -webkit-gradient(linear, left top, left bottom, from(#DD0858), to(#ffc4da));
  border-bottom: 0.07em #DD0858 solid;
}

a:link, a:visited {
  color: #AD3481;
  font-style: none;
}

a:hover {
  color: #7973A3;
}

div.dragenter {
  background-color: #73C2FF;
  background: -moz-linear-gradient(top,  #73C2FF,  #EDF7FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#73C2FF), to(#EDF7FF));
}
