/* http://www.colourlovers.com/palette/378098/blue_celebration */
body {
  background-color: #EDF7FF;
  background: -moz-linear-gradient(top,  #C9E7FF,  #EDF7FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#C9E7FF), to(#EDF7FF));
}

