div#welcome_box {
  position: relative;
  z-index: 10;
}

div#front_page h1 {
  margin-top: 35px;
}

div#welcome_box p {
  text-align: justify;
  background-color: #fff;
  }

div#random_articles h2 {
margin: 0;  
padding: 7px 0 0 0;
         font-size: 14px;
}

div#random_articles {
  margin-top: 20px;
clear: both;
width: 945px;
height: 440px;
overflow: hidden;
position: relative;
}

div#random_articles ul {
position: absolute;
top: 0;
     list-style: none; 
padding: 0;
margin: 0;
}

ul#random_articles_list {
left: 0;
      z-index: 2;
width: 320px;
}

ul#random_articles_list li {
  font-size: 12px;
  font-family: Arial;
}

ul#random_articles_list li img.smallimg {
padding: 5px;
border: none;
float: left;
margin: 10px 10px 0 0;
  border: dashed 1px #7e6d4b;
  padding: 1px 0 2px 1px;
  max-width: 50px;
  max-height: 50px;
}

ul#random_articles_list li img.overlayimg {
  position: absolute;
  left: 0;
}

ul#random_articles_list li a {
color: #222;
       text-decoration: none;  
display: block;
padding: 10px;
height: 60px;
outline: none;
}

ul#random_articles_list li a:hover {
  text-decoration: underline;
}

ul#random_articles_list li a.current {
background:  url('/images/feature-tab-current.png');
color: #FFF;
}

ul#random_articles_list li a.current:hover {
  text-decoration: none;
cursor: default;
}

ul#random_articles_list li p {
display: inline-block;
width: 200px;
}

ul#output {
right: 0;
width: 660px;
height: 440px;
position: relative;
}

ul#output img {
  border: 1px solid #402C31;
  max-width: 655px;
  max-height: 435px;
}

ul#output li {
position: absolute;
width: 588px;
height: 440px;
}


ul#output li span a {
position: absolute;
bottom: 10px;
right: 200px;
padding: 8px 12px;
         text-decoration: none;
         font-size: 11px;
color: #FFF;
background: #402c31;
            -moz-border-radius: 5px;
            border-radius: 5px;
}

ul#output li span a:hover {
background: #ca202c;
}

div#welcome_box img {
  float: left;
}

div#welcome_box p {
  width: 70%;
  float: right;
  }
