div#welcome_box {
  width: 45%;
  float: left;
  margin-bottom: 25px;
}

div#newest_articles {
  width: 45%;
  clear: both;
  float: left; 
}

div#newest_articles img {
  float: right;
  border: 1px solid #402c31;
}

#random_img_wrapper {position: relative; left: 640px; margin-top: 50px; }

div#random_imgs {
  position: relative;
}
div#random_imgs canvas, div#random_imgs img {
  float: left;
  position: absolute;
  margin-left: 12px;
  max-width: 400px;
  max-height: 400px;
}
