
div#previewFrame {
zoom: 0.85;
      -moz-transform: scale(0.85);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.85);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.85);
      -webkit-transform-origin: 0 0;
}
