div#navigation {
  clear: both;
  position: relative;
  width: 100%;
  z-index: 1000;
  font-size: 1.1em;
  margin-top: 45px;
}

div#navigation ul {
  text-align: center;
}

div#navigation li {
  padding: 3px;
  list-style-type: none;
  display: block;
  background-color: #fff;
  border: 1px solid #402C31;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div#navigation li.continent {
  display: inline-block;
  width: 140px;
  height: 40px;
  background: -moz-linear-gradient(top,  #eee,  #fff);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
}

div#navigation li ul li.country {
  font-size: 0.9em;
  width: 120px;
  margin: 0 10px;
  height: 30px;
}

div#navigation li ul li ul li.article {
  min-height: 20px;
  width: 170px;
}

div#navigation li ul.countries {
  position: absolute;
  z-index: 1001;
  padding-top: 25px;
  top: 25px;
}

div#navigation li ul li ul.articles {
  position: relative;
  z-index: 1002;
  left: 122px;
  top: -23px;
}
