<div class="clearboth"></div>
<div id="articles_countries" style="display: none;"></div>


<div id="random_img_wrapper">
  <div id="random_imgs">
  <% @random_assets.each do |asset| %>
    <span class="random_img">
      <%= image_tag(asset.galleryitem.url(:thumb)) %>
    </span>
  <% end %>
  </div>
</div>


<div id="world_map"></div>
<%= javascript_include_tag 'world_map' %>
