<div class="clearboth"></div>
<div id="articles_countries" style="display: none;"></div>
<% @locations.each do |loc| %>
<div class="user_location">
<div class="user_location_latitude"><%= loc[:latitude] %></div>
<div class="user_location_longitude"><%= loc[:longitude] %></div>
</div>
<% end %>

<div id="bird"><%= image_tag 'bird.png' %></div>
<div id="world_map"></div>
