<div class="clearboth"></div>
<div id="map_random_images_wrap">
  <div id="random_image">1</div>
<div id="world_map"></div>
</div>
<div id="articles_countries" style="display: none;"></div>
<%= javascript_include_tag 'world_map', 'random_image_shuffle' %>
