<div class="clearboth"></div>
<div id="articles_countries" style="display: none;"></div>

<div id="world_map"></div>
 <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAILQjfmVsfw9x3RLhhY5D3BRFsx3eToeCZ5ax_Sk1zMUgaJb7DxT-q0k5qDqpZZ9rU81f8CPfqKN8HQ'></script>
<%= javascript_include_tag 'world_map' %>
