<li>
<% unless random_article_output.assets.empty? %>
<% a=random_article_output.assets %>
<%= link_to image_tag(a[rand(a.size)].galleryitem.url(:large)), article_path(random_article_output) %>
<% end %>

<span>
<%= link_to 'Open the article', article_path(random_article_output) %>
</span>
</li>
