<li>
<% unless random_article_output.assets.empty? %>
<% a=random_article_output.assets %>
<%= image_tag a[rand(a.size)].galleryitem.url(:medium) %>
<% end %>

<%= link_to 'Open the article', article_path(random_article_output) %>
</li>
