<li>
<% if random_article_output.main_asset %>
<%= image_tag random_article_output.main_asset.galleryitem.url(:medium) %>
<% end %>

<%= link_to 'Open the article', article_path(random_article_output) %>
</li>
