<div id="welcome_box">
  <h1>mkm</h1>

  <p>Greetings and welcome to our totally renewed blog. The web site has
  radically changed, and contains solely our travel articles (as these articles
  tend to be the most interesting reads anyway). The travel articles from the
  old blog have been rewritten with extensive improvements on quality and
  readability, and the rest of the articles are removed entirely.  We tell the
  stories as we remember them while we struggle to write to inspire other
  travellers from our experiences on the trail and track.</p>

</div>

<div id="random_img_wrapper">
  <%= render :partial => 'random_images' %>
</div>

<div class="clearboth"></div>

<div id="newest_articles">
  <%= render :partial => 'newest_article', :collection => @newest_articles %>
</div>
