<h1>mkm</h1>
<p>her skal det komme</p>
<ul>
<li>kart over hvor vi er</li>
<li>travel quotes?</li>
<li>en kort intro</li>
<li>nyeste artikkel</li>
</ul>
<div id="random_img_wrapper">
  <div id="random_imgs">
  <% @random_assets.each do |asset| %>
    <div class="bubbleInfo">
    <span class="random_img">
      <%= image_tag(asset.galleryitem.url(:thumb), :alt => asset.galleryitem_caption) %>
    </span>
    <div class="popup">
      <% unless asset.galleryitem_caption.blank? %>
        <p class="italic">"<%= h asset.galleryitem_caption %>"</p>
      <% end %>
      <p>This picture belongs to <%= link_to (h asset.article.title), article_path(asset.article) %></p>
    </div>
    </div>
  <% end %>
  </div>
</div>
