<div id="welcome_box">
  <h1>mkm</h1>

  <p>Greetings and welcome to our totally renewed blog. The web site has
  radically changed, and contains solely our travel articles (as these articles
  tend to be the most interesting reads anyway). The travel articles from the
  old blog have been rewritten with extensive improvements on quality and
  readability, and the rest of the articles are removed entirely.</p>

  <p>To access our articles, use the above map or menu to navigate. The
  articles tell experiences from our travels, and are thus connected to the
  corresponding country in which the article writes about.</p>

</div>
<div id="random_img_wrapper">
  <%= render :partial => 'random_images' %>
</div>

<div class="clearboth"></div>

<div id="newest_articles">
  <h1>Newest article</h1>
  <%= render :partial => 'newest_article', :collection => @newest_articles %>
</div>

