<ul class="continents">
  <% continents.each do |continent| %>
    <li class="continent"><%= continent.title %>
      <ul class="countries" style="display: none;">
        <% continent.countries.each do |country| %>
          <li class="country"><%= country.title %> (<%= country.articles.size %>)
            <% unless country.articles.empty? %>
              <span>&raquo;</span>
            <% end %>
            <ul class="articles" style="display: none;">
              <% country.articles.each do |article| %>
                <li class="article"><%= link_to article.title, article_path(article) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
