<ul>
  <% continents.each do |continent| %>
    <li><%= continent.title %>
      <ul class="countries">
        <% continent.countries.each do |country| %>
          <li><%= country.title %>
            <ul class="articles">
              <% country.articles.each do |article| %>
                <li><% article.title %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
