<ul class="continents">
  <% continents.each do |continent| %>
    <li class="continent"><%= continent.title %>
      <ul class="countries">
        <% continent.countries.each do |country| %>
          <li class="country"><%= country.title %>
            <ul class="articles">
              <% country.articles.each do |article| %>
                <li class="article"><%= article.title %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
