<li id="<%= dom_id(country) %>">
  <%= in_place_editor_field country, :title %> (<%= country.continent.title %>)
  <%= link_to_remote "<span class='ui-state-default ui-corner-all ui-icon ui-icon-trash'></span>", {:url => country_path(country), :method => :delete, :title => 'Delete country', :confirm => 'Are you sure?'} %>
</li>
