<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all, :cache => false %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="previewFrame">
    <div id="outermostWrap">
      <div id="mainwrap">
        <div id="content">
          <%= yield :layout %>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
