<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'article', 'banner', 'common', 'darkgrafitti', 'edit_countries', 'front_page', 'iframe_markitup', 'jquery.ad-gallery', 'jquery-ui-1.8.7.custom', 'markitup_styles', 'markitup_textile', 'navigation', 'maps', 'session', :cache => false %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="previewFrame">
    <div id="outermostWrap">
      <div id="mainwrap">
        <div id="content">
          <%= yield :layout %>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
